<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>account details</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> balance: <%=account.balance%>
      <br> branch: <%=account.branch%>
      <hr>

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>