<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br>

      <h2>Prashanth Reddy Nachannagari</h2>

      <h2>User</h2>
      <h4>Requests to GET JSON</h4>
      <ol>

        <li> <a href="http://localhost:8089/user/findall">http://localhost:8089/user/findall</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/1">http://localhost:8089/user/findone/1</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/2">http://localhost:8089/user/findone/2</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/3">http://localhost:8089/user/findone/3</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/4">http://localhost:8089/user/findone/4</a>
        </li>


        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/findall">https://node-express-mvc-ejs-start.herokuapp.com/user/findall</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/findone/1">https://node-express-mvc-ejs-start.herokuapp.com/user/findone/1</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/findone/2">https://node-express-mvc-ejs-start.herokuapp.com/user/findone/2</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/findone/3">https://node-express-mvc-ejs-start.herokuapp.com/user/findone/3</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/findone/4">https://node-express-mvc-ejs-start.herokuapp.com/user/findone/4</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/user">http://localhost:8089/user</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/create">http://localhost:8089/user/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/edit/1">http://localhost:8089/user/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/2">http://localhost:8089/user/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/3">http://localhost:8089/user/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/delete/1">http://localhost:8089/user/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/2">http://localhost:8089/user/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/3">http://localhost:8089/user/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/details/1">http://localhost:8089/user/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/2">http://localhost:8089/user/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/3">http://localhost:8089/user/details/3</a>
        </li>


        <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user">https://node-express-mvc-ejs-start.herokuapp.com/user</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/create">https://node-express-mvc-ejs-start.herokuapp.com/user/create</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/edit/1">https://node-express-mvc-ejs-start.herokuapp.com/user/edit/1</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/edit/2">https://node-express-mvc-ejs-start.herokuapp.com/user/edit/2</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/edit/3">https://node-express-mvc-ejs-start.herokuapp.com/user/edit/3</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/delete/1">https://node-express-mvc-ejs-start.herokuapp.com/user/delete/1</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/delete/2">https://node-express-mvc-ejs-start.herokuapp.com/user/delete/2</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/delete/3">https://node-express-mvc-ejs-start.herokuapp.com/user/delete/3</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/details/1">https://node-express-mvc-ejs-start.herokuapp.com/user/details/1</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/details/2">https://node-express-mvc-ejs-start.herokuapp.com/user/details/2</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/user/details/3">https://node-express-mvc-ejs-start.herokuapp.com/user/details/3</a>
          </li>
  

      </ol>


      <br>
      <h2>Chitralekha Chikku</h2>
      <h2>Account</h2>
      <br>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/account/findall">http://localhost:8089/account/findall</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/12345678">http://localhost:8089/account/findone/12345678</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/65781234">http://localhost:8089/account/findone/65781234</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/56781234">http://localhost:8089/account/findone/56781234</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/87561234">http://localhost:8089/account/findone/87561234</a>
        </li>


        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/findall">https://node-express-mvc-ejs-start.herokuapp.com/account/findall</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/findone/12345678">https://node-express-mvc-ejs-start.herokuapp.com/account/findone/12345678</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/findone/65781234">https://node-express-mvc-ejs-start.herokuapp.com/account/findone/65781234</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/findone/56781234">https://node-express-mvc-ejs-start.herokuapp.com/account/findone/56781234</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/findone/87561234">https://node-express-mvc-ejs-start.herokuapp.com/account/findone/87561234</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/account">http://localhost:8089/account</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/create">http://localhost:8089/account/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/edit/12345678">http://localhost:8089/account/edit/12345678</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/65781234">http://localhost:8089/account/edit/65781234</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/edit/56781234">http://localhost:8089/account/edit/56781234</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/delete/12345678">http://localhost:8089/account/delete/12345678</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/65781234">http://localhost:8089/account/delete/65781234</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/delete/56781234">http://localhost:8089/account/delete/56781234</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/details/12345678">http://localhost:8089/account/details/12345678</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/65781234">http://localhost:8089/account/details/65781234</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/details/56781234">http://localhost:8089/account/details/56781234</a>
        </li>



        <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account">https://node-express-mvc-ejs-start.herokuapp.com/account</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/create">https://node-express-mvc-ejs-start.herokuapp.com/account/create</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/edit/12345678">https://node-express-mvc-ejs-start.herokuapp.com/account/edit/12345678</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/edit/65781234">https://node-express-mvc-ejs-start.herokuapp.com/account/edit/65781234</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/edit/56781234">https://node-express-mvc-ejs-start.herokuapp.com/account/edit/56781234</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/delete/12345678">https://node-express-mvc-ejs-start.herokuapp.com/account/delete/12345678</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/delete/65781234">https://node-express-mvc-ejs-start.herokuapp.com/account/delete/65781234</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/delete/56781234">https://node-express-mvc-ejs-start.herokuapp.com/account/delete/56781234</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/details/12345678">https://node-express-mvc-ejs-start.herokuapp.com/account/details/12345678</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/details/65781234">https://node-express-mvc-ejs-start.herokuapp.com/account/details/65781234</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/account/details/56781234">https://node-express-mvc-ejs-start.herokuapp.com/account/details/56781234</a>
          </li>
  

      </ol>


      <br>
      <h2>Chaitra Vemula</h2>
      <br>
      <h2>Transaction</h2>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/transaction/findall">http://localhost:8089/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/111">http://localhost:8089/transaction/findone/111</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/222">http://localhost:8089/transaction/findone/222</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/333">http://localhost:8089/transaction/findone/333</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/444">http://localhost:8089/transaction/findone/444</a>
        </li>


        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/findall">https://node-express-mvc-ejs-start.herokuapp.com/transaction/findall</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/111">https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/111</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/222">https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/222</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/333">https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/333</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/444">https://node-express-mvc-ejs-start.herokuapp.com/transaction/findone/444</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/transaction">http://localhost:8089/transaction</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/create">http://localhost:8089/transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/edit/111">http://localhost:8089/transaction/edit/111</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/222">http://localhost:8089/transaction/edit/222</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/333">http://localhost:8089/transaction/edit/333</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/delete/111">http://localhost:8089/transaction/delete/111</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/222">http://localhost:8089/transaction/delete/222</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/333">http://localhost:8089/transaction/delete/333</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/details/111">http://localhost:8089/transaction/details/111</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/222">http://localhost:8089/transaction/details/222</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/333">http://localhost:8089/transaction/details/333</a>
        </li>


        <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction">https://node-express-mvc-ejs-start.herokuapp.com/transaction</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/create">https://node-express-mvc-ejs-start.herokuapp.com/transaction/create</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/edit/111">https://node-express-mvc-ejs-start.herokuapp.com/transaction/edit/111</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/edit/222">https://node-express-mvc-ejs-start.herokuapp.com/transaction/edit/222</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/edit/333">https://node-express-mvc-ejs-start.herokuapp.com/transaction/edit/333</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/delete/111">https://node-express-mvc-ejs-start.herokuapp.com/transaction/delete/111</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/delete/222">https://node-express-mvc-ejs-start.herokuapp.com/transaction/delete/222</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/delete/333">https://node-express-mvc-ejs-start.herokuapp.com/transaction/delete/333</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/details/111">https://node-express-mvc-ejs-start.herokuapp.com/transaction/details/111</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/details/222">https://node-express-mvc-ejs-start.herokuapp.com/transaction/details/222</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/transaction/details/333">https://node-express-mvc-ejs-start.herokuapp.com/transaction/details/333</a>
          </li>
  

      </ol>


      <br>
      <h2>Vijaya Raja Mayuri Akula</h2>
      <br>
      <h2>Category</h2>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/category/findall">http://localhost:8089/category/findall</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1">http://localhost:8089/category/findone/1</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/2">http://localhost:8089/category/findone/2</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/3">http://localhost:8089/category/findone/3</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/4">http://localhost:8089/category/findone/4</a>
        </li>


        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/findall">https://node-express-mvc-ejs-start.herokuapp.com/category/findall</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/findone/1">https://node-express-mvc-ejs-start.herokuapp.com/category/findone/1</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/findone/2">https://node-express-mvc-ejs-start.herokuapp.com/category/findone/2</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/findone/3">https://node-express-mvc-ejs-start.herokuapp.com/category/findone/3</a>
        </li>
        <li> <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/findone/4">https://node-express-mvc-ejs-start.herokuapp.com/category/findone/4</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/category">http://localhost:8089/category</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/create">http://localhost:8089/category/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/edit/1">http://localhost:8089/category/edit/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/2">http://localhost:8089/category/edit/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/3">http://localhost:8089/category/edit/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/delete/1">http://localhost:8089/category/delete/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/delete/2">http://localhost:8089/category/delete/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/delete/3">http://localhost:8089/category/delete/3</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/details/1">http://localhost:8089/category/details/1</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/details/2">http://localhost:8089/category/details/2</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/details/3">http://localhost:8089/category/details/3</a>
        </li>


        <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category">https://node-express-mvc-ejs-start.herokuapp.com/category</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/create">https://node-express-mvc-ejs-start.herokuapp.com/category/create</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/edit/1">https://node-express-mvc-ejs-start.herokuapp.com/category/edit/1</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/edit/2">https://node-express-mvc-ejs-start.herokuapp.com/category/edit/2</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/edit/3">https://node-express-mvc-ejs-start.herokuapp.com/category/edit/3</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/delete/1">https://node-express-mvc-ejs-start.herokuapp.com/category/delete/1</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/delete/2">https://node-express-mvc-ejs-start.herokuapp.com/category/delete/2</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/delete/3">https://node-express-mvc-ejs-start.herokuapp.com/category/delete/3</a>
          </li>
  
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/details/1">https://node-express-mvc-ejs-start.herokuapp.com/category/details/1</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/details/2">https://node-express-mvc-ejs-start.herokuapp.com/category/details/2</a>
          </li>
          <li>
            <a href="https://node-express-mvc-ejs-start.herokuapp.com/category/details/3">https://node-express-mvc-ejs-start.herokuapp.com/category/details/3</a>
          </li>
  

      </ol>


    </div>
  </div>
</div>